{{/*
  publications-nav.html
  研究業績ページ用のカード型ナビ
  パラメータ:
    current … "new", "journal", "conference", "book" のいずれか
*/}}

{{ $current := .Get "current" | default "" }}

<div class="topnav">
  <a href="/publications" class="topnav-card {{ if eq $current "new" }}active{{ end }}">
    <h4>過去5年</h4>
  </a>

  <a href="/publications/journal/" class="topnav-card {{ if eq $current "journal" }}active{{ end }}">
    <h4>雑誌論文</h4>
  </a>

  <a href="/publications/conference/" class="topnav-card {{ if eq $current "conference" }}active{{ end }}">
    <h4>国際会議議事録</h4>
  </a>

  <a href="/publications/book/" class="topnav-card {{ if eq $current "book" }}active{{ end }}">
    <h4>書籍・事典・解説など</h4>
  </a>

</div>